html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background-image: url(./fondo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 480px) {
  
.logo2{
  display: none;
}
  
}
#header{
  min-height: 100vh;
  position: relative;
}

#about{
  position: relative;
  z-index: 300;
}

